.todo{
    box-shadow:2px 2px 5px black;
    padding: 5px;
    border-radius: 16px;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    opacity: .80;
    width: 100%;
}

.todo:hover{
    background: linear-gradient(145deg, dodgerblue, salmon);
}

.todo__icons{
    cursor: pointer;
}

.todo__items{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
 
.todo__items p{
    font-size: larger;
    color:#333333;
}